
<span class="outer-most-box">
    <div class="box">
        <div class="box">
            <div class="box">
                <div class="box">
                    <div class="box">
                        <div class="box">
                            <div class="box">
                                <div class="box">
                                    <marquee>A floating banner text which keeps on rotating</marquee>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</span>
<hr>
<span class="outer-most-box1">
    <div class="box1">
        <p class="rotating-para">A floating banner text which keeps on rotating</p>
    </div>
</span>