<h2>Assignment!!!</h2>
<p appBasicHighlight #appBasicAccessor="appBasic">This is testing of basic directive.</p>
<p appBetterHighlight [defaultColor]="'green'" [highlightColor]="'red'">This is testing of better directive.</p>

<button (click)="switchBoolean()">Click Me to switch boolean!</button>
<br><br>
<button (click)="appBasicAccessor.onClickAction()">Export As</button>
<div *appUnless="boolValue">
    <li>1</li>
    <li>2</li>
</div>

<ng-container *ngFor="let item of items; trackBy:identify">
    <p>{{item.name}}</p>
</ng-container>
